aiodns==2.0.0
cchardet==2.1.4
coloredlogs==10.0
discord.py==1.2.3
dnspython==1.16.0
humanize==0.5.1
prettytable==0.7.2
pymongo==3.8.0
python-dotenv==0.10.3
git+https://github.com/DiscoMusic/genius-wrapper.git
git+https://github.com/EvieePy/Wavelink.git@d9c99d0821b12d92fd77e13b93f6bea385e0d741